<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <title> Application for managing invoices </title>
        <link rel="stylesheet"
              href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
       <link rel="stylesheet" 
              href="webjars/font-awesome/3.2.1/css/font-awesome.css"/>

    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-navbar">
                <div class="container">
                    <span class="navbar-brand mb-0 h1"> Home </span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                            aria-expanded="false" aria-label="Togglenavigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a href="/index"    class="nav-link text-uppercase active">home</a></li>
                            <li class="nav-item"><a href="/users"    class="nav-link text-uppercase"> Users </a></li>
                            <li class="nav-item"><a href="/companies" class="nav-link text-uppercase "> Companies / Contractors</a></li>
                            <li class="nav-item"><a href="/invoices" class="nav-link text-uppercase">Invoices</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container"><br/>


        </div>
    </body>
</html>
